@use "../base" as *;

/* Curtain Transition */
#curtain-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 99999;
  will-change: transform;
  transform: translateY(-100%);
}

/* Reveal Text */
.split-words {
  position: relative;
  visibility: hidden;

  .single-word {
    position: relative;
    overflow: hidden;
    margin: -0.1em 0px;
    visibility: visible;
  }
}

/* Reveal Image */
.hidden-image {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

/* Fade Up */
.hidden-fade {
  visibility: hidden;
}

/* Reveal Text Button */
.btn-reveal {
  @include btn-text-reveal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
}