.error-page {
  padding: 35rem 0;
  position: relative;
  text-align: center;

  &::before {
    color: #f9f9f9;
    content: attr(data-error);
    font-size: 35vw;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  }
}